# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE and editor files
*.swp
*.swo
*.idea/
.vscode/

# Logs
*.log

# Byte-compiled files
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other files to ignore
*.DS_Store