langchain
openai
python-dotenv
langchain-openai
langchain-community
langchain-text-splitters
pinecone
supabase
langgraph
unidecode
pdfplumber
eventlet 
docx
python-docx
sentence_transformers
hdbscan 
psutil
tqdm
tenacity
backoff
fastapi
uvicorn
