langchain
openai
python-dotenv
flask
flask-cors
langchain-openai
langchain-community
langchain-text-splitters
pinecone
supabase
langgraph
letta
fasttext
fuzzywuzzy
unidecode
pdfplumber
eventlet 
flask-socketio
langchain-anthropic
docx
python-docx
sentence_transformers
hdbscan 
psutil
scikit-learn
nltk
faiss-cpu
faiss-gpu
faiss
matplotlib
networkx
tqdm
tenacity
backoff
pytest
pytest-asyncio
unstructured