langchain
openai
python-dotenv
flask
flask-cors
langchain-openai
langchain-community
langchain-text-splitters
pinecone
supabase
pinecone-grpc
tavily-api
langgraph
letta
spacy
maturin
underthesea
langdetect
sentence_transformers
fasttext
fuzzywuzzy
unidecode